if SHIELD_CROSSES_DONGLE

config ZMK_KEYBOARD_NAME
    default "Crosses Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

endif
